<!-- <div class="feature-area">-->
<!--    <div class="container">-->
<!--        <div class="row margin-top">-->
<!--            <div class="col-lg-3 col-md-6">-->
<!--                <div class="dreamit-feature-box">-->
<!--                    <div class="dreamit-feature-icon">-->
<!--                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>-->
<!--                    </div>-->
<!--                    <div class="feature-title">-->
<!--                        <h2>{{ trans('home.onlineAppointment') }}</h2>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-md-6">-->
<!--                <div class="dreamit-feature-box">-->
<!--                    <div class="dreamit-feature-icon">-->
<!--                        <i class="fa-solid fa-passport"></i>-->
<!--                    </div>-->
<!--                    <div class="feature-title">-->
<!--                        <h2>{{ trans('home.vexpert') }}</h2>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-md-6">-->
<!--                <div class="dreamit-feature-box">-->
<!--                    <div class="dreamit-feature-icon">-->
<!--                        <i class="fa-solid fa-file-pen"></i>-->
<!--                    </div>-->
<!--                    <div class="feature-title">-->
<!--                        <h2>{{ trans('home.applyOnline') }}</h2>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-md-6">-->
<!--                <div class="dreamit-feature-box">-->
<!--                    <div class="dreamit-feature-icon">-->
<!--                        <i class="fa-solid fa-earth-europe"></i>-->
<!--                    </div>-->
<!--                    <div class="feature-title">-->
<!--                        <h2>{{ trans('home.foreignOffice') }}</h2>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div> -->
